@model ZamowKsiazke.Models.Book

@{
    ViewData["Title"] = "Usuń";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Usuń</h1>

    <h3 class="text-center">Czy na pewno chcesz to usunąć?</h3>
    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h4>@Model.Title</h4>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-3">
                            Opis
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-3">
                            Język
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Language)
                        </dd>
                        <dt class="col-sm-3">
                            ISBN
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ISBN)
                        </dd>
                        <dt class="col-sm-3">
                            Data publikacji
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DatePublished)
                        </dd>
                        <dt class="col-sm-3">
                            Cena
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-3">
                            Autor
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Author)
                        </dd>
                        <dt class="col-sm-3">
                            URL obrazu
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ImageUrl)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 text-center">
                    <img src="@Model.ImageUrl" class="img-fluid img-thumbnail" style="max-height: 400px;" />
                </div>
            </div>
            <form asp-action="Delete" class="mt-4">
                <input type="hidden" asp-for="Id" />
                <div class="text-center">
                    <a asp-action="Index" class="btn btn-warning"><i class="fa-solid fa-backward-step"></i>&nbsp;Powrót</a>
                    <input type="submit" value="Usuń" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
